@model WebBHDT1.Model.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSanXuat.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaXoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaXoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
