@model IEnumerable<WebBHDT1.Model.SanPham>
@{
    ViewBag.Title = "SearchName";
}
@using (Html.BeginForm("SearchName", "SanPham", FormMethod.Get))
{
    @Html.TextBox("searchString")<input type="submit" value="Search" />
}
@*<h2>SearchName</h2>*@
<table class="table">
                                     <tr>
                                         <th>
                                             @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.NhaSanXuat.TenNSX)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.TenSP)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.DonGia)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.NgayCapNhap)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.Mota)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.HinhAnh)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.DaXoa)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.HinhAnh1)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.HinhAnh2)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.HinhAnh3)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.HinhAnh4)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.SoLuong)
                                         </th>
                                         <th>
                                             @Html.DisplayNameFor(model => model.Tinhtrang)
                                         </th>
                                         <th></th>
                                     </tr>

                                     @foreach (var item in Model)
                                     {
                                         <tr>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNSX)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.TenSP)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.DonGia)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.NgayCapNhap)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.Mota)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.HinhAnh)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.DaXoa)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.HinhAnh1)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.HinhAnh2)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.HinhAnh3)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.HinhAnh4)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.SoLuong)
                                             </td>
                                             <td>
                                                 @Html.DisplayFor(modelItem => item.Tinhtrang)
                                             </td>
                                             <td>
                                                 @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
                                                 @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                                                 @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
                                             </td>
                                         </tr>
                                     }

                                 </table>