@model BHDT.Model.ChiTietDonDatHang

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có chắc muốn xoá?</h3>
<div>
    <h4>Danh sách Chi Tiết Đơn Đặt Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Đơn Đặt Hàng - Mã Đơn Đặt Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonDatHang.MaDDH)
        </dd>

        <dt>
            Sản Phẩm - Tên SP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSP)
        </dd>

        <dt>
            Tên SP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Số Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
