@model IEnumerable<BHDT.Model.ChiTietDonDatHang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Chi Tiết Đơn Đặt Hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Đơn Đặt Hàng - Mã Đơn Đặt Hàng
        </th>
        <th>
            Sản Phẩm - Tên SP
        </th>
        <th>
            Tên SP
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đơn Giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonDatHang.MaDDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaChiTietDDH }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaChiTietDDH }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaChiTietDDH })
            </td>
        </tr>
    }

</table>
