@model IEnumerable<BHDT.Model.ThanhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Thành Viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Loại Thành Viên - Tên Loại
        </th>
        <th>
            Tài Khoản
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Họ Tên
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Email
        </th>
        <th>
            SĐT
        </th>
        <th>
            Câu Hỏi
        </th>
        <th>
            Câu Trả Lời
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThanhVien.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauHoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauTraLoi)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaTV }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaTV }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaTV })
            </td>
        </tr>
    }

</table>
