@model IEnumerable<WebBanHangDT.Model.KHUYENMAI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKetThuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKhuyenMai }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKhuyenMai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKhuyenMai })
        </td>
    </tr>
}

</table>
