@using demo.Models;
@model IEnumerable<SANPHAM>


@foreach (var item in Model)
{
    double sale = (double)item.Sale;
    double tien = (double)item.DonGia;
    double tiensale = (double)(item.DonGia * item.Sale / 100);
<div class="col l-2-4 m-4 c-6">
    <a href="#" class="home-product-item">
        <img src="@item.HinhAnh" class="home-product-item__img">
       
        <div class="home-product-item__name"> @item.TenSP </div>
        <div class="home-product-item__price">
            <span class="home-product-item__price-old">@tien.ToString("###,#đ") </span>
            <span class="home-product-item__price-current">@tiensale.ToString("###,#đ")</span>
        </div>
        <div class="home-product-item__action">
            <div class="home-product-item__rating">
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

        </div>
        <div class="product-favourite">
            <i class="fas fa-check"></i>
            <span>Yêu Thích</span>
        </div>
        <div class="product-sale-off">
            <span class="product-sale-off__percent">@sale.ToString("#%") </span>
            <span class="product-sale-off__label"> SALE </span>
        </div>
    </a>
</div>
        }

