@model IEnumerable<BHDT.Model.NhaCungCap>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Nhà Cung Cấp</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tên Nhà Cung Cấp
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Email
        </th>
        <th>
            SĐT
        </th>
        <th>
            Fax
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaNCC }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaNCC }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaNCC })
            </td>
        </tr>
    }

</table>
