@model WebBanHangDT.Model.DONHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
