@model WebBanHangDT.Model.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOAI.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUONGHIEU.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLUong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLUong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
