@model IEnumerable<BHDT.Model.PhieuNhap>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Phiếu Nhập</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Nhà Cung Cấp - Tên NCC
        </th>
        <th>
            Ngày Nhập
        </th>
        <th>
            Đã Xoá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaXoa)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaPN }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaPN }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaPN })
            </td>
        </tr>
    }

</table>
