@model BHDT.Model.User

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có chắc muốn xoá?</h3>
<div>
    <h4>Danh sách User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
           PassWord
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
          Allowed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
